@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

/* CSS Variables */
:root {
  /* Primary Colors */
  --color-moderate-cyan: hsl(176, 50%, 47%);
  --color-dark-cyan: hsl(176, 72%, 28%);

  /* Neutral Colors */
  --color-black: hsl(0, 0%, 0%);
  --color-dark-gray: hsl(0, 0%, 48%);
  --color-light-gray:hsl(0, 0%, 90%);
  /* Typography */
  --font-family: "Commissioner", sans-serif;
  --font-size-body: 16px;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
}

* {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* visual classes */
.hidden {
  display: none;
}

.hidden-on-mobile {
  display: none;

}

.hidden-on-desktop {
  display: block;
}

/* utility classes*/
.primary-btn {
  background-color: var(--color-moderate-cyan);
  color: white;
  padding: 15px 30px;
  border: none;
  font-weight: var(--font-weight-500);
  font-size: .925rem;
  border-radius: 30px;
}



.section {
  border: 1px solid gray;
  background-color: white;
  padding: 30px 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  color: var(--color-dark-gray);
}

/* Base Styles for Mobile First (up to 375px) */
body {
  font-size: var(--font-size-body);
  color: var(--color-black);
  background: rgb(248, 246, 250);
  
  position: relative;
}

.header {
  background-image: url("/images/image-hero-mobile.jpg");
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px 20px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: 20px;
  border-radius: 10px;
  position: absolute;
  top: 200px;
}

.monitor {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border: none;
}

.monitor__logo {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%, 0);
}

.monitor__title {
  font-size: 1.3rem;
  margin-top: 30px;
  color: var(--color-black);
  max-width: 75%;
}

.monitor__buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.monitor__buttons-bookmark-container {
  background: rgb(232, 229, 229);
  display: flex;
  border-radius: 30px;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
  font-weight: var(--font-weight-700);
}

.monitor__buttons-bookmark-btn {
  background-color: rgb(232, 229, 229);
  height: auto;
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
  width: auto;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.stats__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.stats__card {
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}

.stats__card:nth-last-child(1) {
  border: none;
}

.stats__indicator {
  font-weight: var(--font-weight-700);
  color: var(--color-black);
  font-size: 2rem;
}

.stats__progress-bar {
  max-width: auto;
  border-radius: 15px;
  height: 10px;
  background-color: hsl(0, 0%, 95%);;
}
.stats__progress-bar-fill {
  height:100%;
  max-width: 75%;
  background: var(--color-moderate-cyan);
}

.about {
  text-align: left;

}

.about__title {
  color: var(--color-black);
  font-size: 20px;
  margin-bottom: 30px;
}

.about__text {
  margin-bottom: 30px;
  font-weight: var(--font-weight-400);
  font-size: 14px;
  line-height: 1.5rem;
}


.about__offer {
  border: .2px solid var(--color-light-gray);
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.about__offer-title {
  font-size: 16px;
  color: var(--color-black);
  margin-bottom: 5px;
}

.about__offer-benefit {
  color: var(--color-moderate-cyan);
  margin-bottom: 20px;
}

.about__offer-text {
  font-weight: var(--font-weight-400);
  font-size: 14px;
  line-height: 1.4rem;
  margin-bottom: 25px;
}

.about__offer-stock {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.about__offer-stock__left {
  font-size: 2rem;
  color: var(--color-black);
  font-weight: var(--font-weight-700);
}

.about__offer-infos,
.about__offer-actions {
  display: block;

}

.isDisabled {
  opacity: 0.2;
}

.gray{
  background: var(--color-light-gray);
}

















/* Media Queries */

/* For screens wider than 375px (up to 1440px) */
@media (min-width: 376px) {

  /* Add any styles that should apply to tablets and small desktops here */
  body {
    max-width: 1440px;
    margin: 0 auto;
  }

  .hidden-on-mobile {
    display: block;
  }

  .hidden-on-desktop {
    display: none;
  }

  .header {
    padding-inline: 11%;
    background-image: url("/images/image-hero-desktop.jpg");
    height: 500px;
  }

  .header__nav-list {
    display: flex;
    gap: 20px;
    color: white;
    font-weight: var(--font-weight-700);
  }

  .container {

    margin-inline: 25%;
    top: 280px;
  }

  .section {
    padding: 5% 7%;
  }

  .monitor__buttons {
    width: 100%;
    justify-content: space-between;
  }

  .stats__cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .stats__card {
    border-right: .1px solid var(--color-light-gray);
    border-bottom: none;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }

  .about__offer-infos {
    display: flex;
    justify-content: space-between;
    
  }

  .about__offer-actions {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    
    
  }
}


/* For screens wider than 1440px 
@media (min-width: 1441px) {
    /* Add any styles that should apply to large desktops here 
    .hidden-on-mobile {
        display: block;
    }

    .hidden-on-desktop {
        display: none;
    }
}

*/