@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

/* CSS Variables */
:root {
  /* Primary Colors */
  --color-moderate-cyan: hsl(176, 50%, 47%);
  --color-dark-cyan: hsl(176, 72%, 28%);

  /* Neutral Colors */
  --color-black: hsl(0, 0%, 0%);
  --color-dark-gray: hsl(0, 0%, 48%);
  --color-light-gray: hsl(0, 0%, 90%);
  /* Typography */
  --font-family: "Commissioner", sans-serif;
  --font-size-body: 16px;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
}

* {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* visual classes */
.hidden {
  display: none !important;
}

.hidden-on-mobile {
  display: none;
}

.hidden-on-desktop {
  display: block;
}

/* utility classes*/
.primary-btn {
  background-color: var(--color-moderate-cyan);
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: var(--font-weight-500);
  font-size: 0.925rem;
  border-radius: 30px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: var(--color-dark-cyan);
}

.section {
  border: 1px solid gray;
  background-color: white;
  padding: 30px 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  color: var(--color-dark-gray);
}

/* Base Styles for Mobile First (up to 375px) */
body {
  font-size: var(--font-size-body);
  color: var(--color-black);
  background: rgb(229, 228, 230);
  position: relative;
}

.header {
  background-image: url("/images/image-hero-mobile.jpg");
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px 20px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  background: white;
  position: absolute;
  top: 20%;
  right: 5%;
  border-radius: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: var(--font-weight-700);
  font-size: 1.125rem;
  box-shadow: 140px 34px 52px 200px rgba(248, 247, 247, 0.055);
  -webkit-box-shadow: 140px 34px 52px 200px rgba(79, 65, 65, 0.48);
  -moz-box-shadow: 140px 34px 52px 200px rgba(79, 65, 65, 0.48);
  z-index: 4;
}

.mobile__menu-item {
  padding: 20px 10px;
  border-bottom: 2px solid var(--color-dark-gray);
}

.container {
  margin: 20px;
  border-radius: 10px;
  position: absolute;
  top: 200px;
}

.monitor {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border: none;
}

.monitor__logo {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%, 0);
}

.monitor__title {
  font-size: 1.3rem;
  margin-top: 30px;
  color: var(--color-black);
  max-width: 75%;
}

.monitor__buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.monitor__buttons-bookmark-container {
  background: rgb(232, 229, 229);
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: space-between;
  font-weight: var(--font-weight-700);
}

.monitor__buttons-bookmark-btn {
  background-color: rgb(232, 229, 229);
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 25px;
  width: auto;
}

.monitor__buttons-bookmark-mobile-btn {
  border: none;
  background: inherit;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.stats__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.stats__card {
  text-align: center;
  /* rajouter des hrs  au lieu de cette bordure bottom*/
  /* border-bottom: 0.1px solid gray; */
  padding-bottom: 15px;

}

.stats__card:nth-last-child(1) {
  border: none;
}

.stats__indicator {
  font-weight: var(--font-weight-700);
  color: var(--color-black);
  font-size: 2rem;
  margin-bottom: 10px;
}

.stats__progress-bar {
  max-width: auto;
  border-radius: 15px;
  height: 10px;
  background-color: hsl(0, 0%, 95%);
}

.stats__progress-bar-fill {
  height: 100%;
  max-width: 75%;
  background: var(--color-moderate-cyan);
  border-radius: 15px;
}

.about {
  text-align: left;
}

.about__title {
  color: var(--color-black);
  font-size: 20px;
  margin-bottom: 30px;
}

.about__text {
  margin-bottom: 30px;
  font-weight: var(--font-weight-400);
  font-size: 14px;
  line-height: 1.5rem;
}

.about__offer {
  border: 0.2px solid var(--color-light-gray);
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.about__offer-title {
  font-size: 16px;
  color: var(--color-black);
  margin-bottom: 5px;
}

.about__offer-benefit {
  color: var(--color-moderate-cyan);
  margin-bottom: 20px;
}

.about__offer-text {
  font-weight: var(--font-weight-400);
  font-size: 14px;
  line-height: 1.4rem;
  margin-bottom: 25px;
}

.about__offer-stock {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.about__offer-stock__left {
  font-size: 2rem;
  color: var(--color-black);
  font-weight: var(--font-weight-700);
}

.about__offer-infos,
.about__offer-actions {
  display: block;
}

.isDisabled {
  opacity: 0.2;
}

.gray {
  background: var(--color-light-gray);
}

/* Modal  */
.modal {
  position: absolute;
  width: 100%;
  background: white;
  height: auto;
  top: -115px;
  right: 50%;
  transform: translate(50%);
  z-index: 5;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 25px;
  line-height: 1.5rem;
  transition: opacity 0.3s ease, transform 0.4s ease, visibility 0s 0.3s;
  box-shadow: 0 2px 10px rgba(41, 40, 40, 0.1);
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__header-title {
  color: var(--color-black);
  font-size: 1.35rem;
}

.modal__close-btn {
  border: none;
}

.modal__offer {
  border: 0.2px solid var(--color-light-gray);
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: left;

  padding: 30px;
}

.selected {
  border: 2px solid var(--color-dark-cyan);
}

.modal__offer-input {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.modal__offer-input-label {
  color: var(--color-black);
  font-weight: var(--font-weight-700);
}

.modal__offer-option-benefit {
  color: var(--color-moderate-cyan);
  font-weight: var(--font-weight-500);
}

.modal__offer-text {
  margin-bottom: 40px;
}

.modal__offer-pledge {
  text-align: center;
  padding: 0;
}

.modal__offer-pledge-text {
  margin-bottom: 20px;
}

.modal__offer-pledge-actions {
  display: flex;
  max-width: 300px;
  gap: 15px;
}

.modal__offer-pledge-input {
  border-radius: 30px;
  border: 0.2px solid gray;
  color: var(--color-black);
  text-align: center;
  max-width: 50%;
}


.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;

}



.success__modal-img {
  width: 100px;
}

.success__modal-title {
  font-size: 1.4rem;
  font-weight: var(--font-weight-700);
}

.success__modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  gap: 20px;
  padding: 50px 30px;
  position: fixed;
  top: 250px;
  max-width: 90%;
  margin: 10%;
  /* transform: translate(-50%, -50%); */
  background: white;
  z-index: 4;
  transition: opacity 0.3s ease, transform 0.5s ease, visibility 0s 0.6s;
}

.success__modal-text {
  font-weight: var(--font-weight-400);
  font-size: 1rem;
  line-height: 1.7rem;
  color: var(--color-dark-gray);
  font-weight: 500;
  text-align: center;
}

.success__modal-btn {
  padding: 15px 40px;
}

/* Media Queries */

/* For screens wider than 375px (up to 1440px) */
@media (min-width: 676px) {

  /* Add any styles that should apply to tablets and small desktops here */
  body {
    max-width: 1440px;
    margin: 0 auto;
  }

  .hidden {
    display: none;
  }

  .hidden-on-mobile {
    display: block;
  }

  .hidden-on-desktop {
    display: none;
  }

  .header {
    padding-inline: 11%;
    background-image: url("/images/image-hero-desktop.jpg");
    height: 500px;
  }

  .header__nav-list {
    display: flex;
    gap: 20px;
    color: white;
    font-weight: var(--font-weight-700);
  }

  .container {
    margin-inline: 25%;
    top: 280px;
  }

  .section {
    padding: 5% 7%;
  }

  .monitor__buttons {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .stats__cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
  }

  .stats__card {
    border-right: 0.1px solid var(--color-light-gray);
    border-bottom: none;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }

  .about__text {
    margin-bottom: 30px;
    font-weight: var(--font-weight-400);
    font-size: 16px;
    line-height: 1.5rem;
  }

  .about__offer-infos {
    display: flex;
    justify-content: space-between;
  }

  .about__offer-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal__offer-infos {
    display: flex;
    justify-content: space-between;
    width: 100%;

  }

  .modal__offer-infos-left {
    display: flex;
    gap: 20px;
  }

  .mobile__about__offer-stock {
    display: flex;

    gap: 10px;

    justify-items: flex-end;


  }

  .mobile__about__offer-stock__left {
    font-size: 1.25rem;
    font-weight: var(--font-weight-500);
    color: var(--color-black);
  }

  .modal__offer-pledge {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  /* success Modal  */
  /* parent */
  .test-body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fond noir transparent */
    font-family: Arial, sans-serif;
  }

  /* sibling */
  .test-modal-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .success__modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 20px;
    padding: 50px 30px;
    max-width: 520px;
    position: fixed;
    top: 600px;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    
    z-index: 4;
    transition: opacity 0.3s ease, transform 0.5s ease, visibility 0s 0.6s;
  }
}

/* For screens wider than 1440px 
@media (min-width: 1441px) {
    /* Add any styles that should apply to large desktops here 
    .hidden-on-mobile {
        display: block;
    }

    .hidden-on-desktop {
        display: none;
    }
}

*/